.formik-switch {
  .form-check-input:checked {
    background-color: $primary !important;
    border-color: $primary !important;
  }

  .form-check-label {
    font-size: 0.875rem !important;
    font-weight: 300 !important;
    color: rgb(46, 61, 61);
  }

  &:has(input[value="true"]) {
    .form-check-label {
      font-size: 0.875rem !important;
      font-weight: 600 !important;
      color: $primary;
    }
  }
}
